*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'bodyFont';
    src: url('/src/fonts/share/Share-Regular.ttf.eot'); /* IE9 Compat Modes */
    src: url('/src/fonts/share/Share-Regular.ttf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/src/fonts/share/Share-Regular.ttf.woff') format('woff'), /* Modern Browsers */
    url('/src/fonts/share/Share-Regular.ttf.svg') format('svg'); /* Legacy iOS */} 
   

    @font-face {
        font-family: 'headerFont';
        src: url('/src/fonts/indigo/Indigo-Outline-Font-Regular.ttf.eot'); /* IE9 Compat Modes */
        src: url('/src/fonts/indigo/Indigo-Outline-Font-Regular.ttf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/src/fonts/indigo/Indigo-Outline-Font-Regular.ttf.woff') format('woff'), /* Modern Browsers */
        url('/src/fonts/indigo/Indigo-Outline-Font-Regular.ttf.svg') format('svg'); /* Legacy iOS */}
    
body{font-family: 'bodyFont';}

h1 {
  font-family: 'headerFont';
    color: rgb(14, 135, 91);
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: rgb(14, 135, 91);
    letter-spacing: 9px;
    font-size: 32px !important;
    line-height: 1.2;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-weight: 700;
}

h3{
    color: rgb(27,27,27);
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom:24px;
    text-align: center;
    word-wrap: break-word;
}
header{
  display: flex;
  padding: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

form :first-child{
  display: flex;
  flex-direction: column;
}


form  p{
  color: red;
  font-weight: 600;
  padding: 10px 0px 0px;
}

form > button{
  background-color: rgb(17, 171, 115);
  color: black;
  font-weight: 600;
  width: 100%;
  border-radius: 4px; 
  min-height: 56px;
  word-wrap: break-word;
  font-size: 16px;
  font-family: 'bodyFont';
  border: none;
}



span{
    color: rgb(14, 135, 91);
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: rgb(14, 135, 91);
    letter-spacing: 6px;
    line-height: 1.2;
    margin-top: -117px;
    font-size: 34px;
    top: 118px;
    position: absolute;
}

.img-div > img{
width: 100%;
}

section{
  padding: 40px 24px;
}


.inputs{
    font-family: 'bodyFont';
    /* @apply rgb(226, 226, 226) */
    border: 1px solid rgb(226, 226, 226);
    padding: 13.5px 8px;
    width: 100%;
    outline-style: none;
    transition: .3s;
    border-radius: 4px;
    font-size: 18px;
}
.inputs:focus{
    border-color: black;
}

input::placeholder {
    /* font-weight: bold; */
color: rgb(71,71,71);
}


.notice{
  text-align: center;
padding-top: 32px;
}

.notice p{
  font-size: 14px;
  word-wrap: break-word;
  color: rgb(71,71,71);
}
.notice a{
  color: rgb(14, 135, 91);
  text-decoration: none;
}

footer{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background-color: rgb(17, 171, 115);
  margin-top: 40px;
}

footer >div{
  padding:  0 24px;
  word-wrap: break-word;
  text-align: center;
}
